body {
  margin: 0;
  background-color: black;
}

.center {
  display: flex;
  justify-content: center;
}

.navbar {
  display: flex;
  justify-content: space-between;
  border: 2px solid;
  width: 75%;
  background-color: rgb(33, 33, 54);
}

.navbar div {
  border: 2px solid;
  border-radius: 10px;
  height: 20px;
  align-items: center;
  margin-top: 10px;
  margin-left: 10px;
  color: green;
  transition: 1s ease-in-out;
}

.navbar div:hover {
  transform: rotate(0.5turn);

  transition: 1s ease-in-out;
}

.navbar button {
  height: 35px;
  margin-top: 10px;
  margin-right: 10px;
  border-radius: 10px;
  background-color: rgb(61, 68, 61);
  color: green;
  border: 2px solid green;
  transition: 0.5s ease-out;
}

.navbar button:hover {
  transform: scale(1.2, 1.2);
  /* flex-grow: 0.2; */
  transition: 0.5s ease-out;
}

.navbar h5 {
  color: green;
}

.mikser {
  border: 2px solid;
  display: flex;
  justify-content: space-around;
  width: 70%;
  margin-top: 2%;
  height: 300px;
  background-color: rgb(33, 33, 54);
  border-radius: 15px;
  border: 2px solid rgb(33, 33, 54);

  transition: 0.5s ease-out;
}

.mikser:hover {
  border: 3px solid green;

  /* flex-grow: 0.2; */
  transition: 0.5s ease-out;
}

.divtext h1 {
  color: green;
}

.divtext p {
  color: rgb(143, 151, 143);
}

.centerrrr {
  /* border: 3px solid rgb(33, 33, 54); */
  width: 70%;
  margin-left: 15%;
  margin-top: 1rem;
}

.butundiv button {
  padding: 0.5rem;
  margin: 1rem;
  border-radius: 15px;
  background-color: rgb(33, 33, 54);
  color: white;
  border: 2px solid rgb(33, 33, 54);
  transition: 0.5s ease-out;
}

.butundiv button:hover {
  border: 2px solid green;

  transform: scale(1.2, 1.2);

  transition: 0.5s ease-out;
}

.grid {
  width: 70%;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: auto;
  gap: 30px;
  margin-left: 15%;
}

.grid .all {
  border-left: 2px solid green;
  border-radius: 15px;
  transition: 1s ease-in-out;
  transition: 1s ease-in-out;
  background-color: rgb(33, 33, 54); ;
}
.row {
  /* border: 3px solid green; */
  display: flex;
  justify-content: space-between;
}

#border {
  border-left: 2px solid rgb(221, 126, 1);
  transition: 1s ease-in-out;
}
#border2 {
  border-left: 2px solid rgb(221, 126, 1);
  transition: 1s ease-in-out;
}
.row button {
  /* border: 3px solid green; */
  height: 30px;
  margin-top: 10px;
  margin-left: 10px;
  border-radius: 10px;
}

.row2 {
  /* border: 3px solid green; */
  display: flex;
}
.row2 div {
  border: 2px solid rgb(0, 247, 12);
  height: 10px;
  margin-top: 10px;
  margin-left: 10px;
  width: 80%;
  border-radius: 20px;
}
.all h4 {
  color: rgb(145, 145, 145);
  margin-left: 10px;
}
.row p {
  color: rgb(143, 151, 143);
}
.row2 p {
  color: green;
}

#color1 {
  color: rgb(209, 0, 105);
  background-color: rgba(216, 112, 147, 0.664);
  border: 3px solid rgb(151, 27, 89);
}
.all:hover {
  transform: rotate(0.02turn);
  /* flex-grow: 0.5; */
  border: 2px solid  rgb(0, 247, 12);
  transition: 1s ease-in-out;
}
/* html {  
  overflow: hidden;
  height: 100%;
  background: radial-gradient(hsla(0, 0%, 0%, 0), hsla(0, 0%, 0%, 1)),
    linear-gradient(90deg, dimgrey 1px, transparent 1px), 
    linear-gradient(dimgrey 1px, grey 1px);
  background-size: 100%, 2px 1px, 1px 2px;
} */
.radar,
.sweep {
  position: absolute;
}
.radar {
  overflow: hidden;
  top: 24%;
  margin: -117px;
  width: 248px;
  height: 248px;
  border-radius: 50%;
  box-shadow:
    0 0 0 1px hsla(0, 0%, 0%, 0.5),
    inset 0 0 0 1px hsla(0, 0%, 100%, 0.15);
  background:
    repeating-radial-gradient(
      transparent 0 23px,
      #287a33 24px 26px,
      #0000 27px
    ),
    linear-gradient(transparent 49.75%, #0e4c42 0 50.25%, transparent 0) 50%
      no-repeat,
    linear-gradient(90deg, transparent 49.75%, #0e4c42 0 50.25%, transparent 0)
      50% no-repeat,
    linear-gradient(#333, #111);
  background-size:
    100%,
    218px 218px,
    218px 218px,
    100%;
}
.sweep {
  box-sizing: border-box;
  top: 16px;
  left: 16px;
  border-right: solid 1px hsla(145, 50%, 40%, 0.3);
  width: 108px;
  height: 108px;
  border-radius: 100% 0 0 0;
  transform-origin: 100% 100%;
  background: linear-gradient(
    50deg,
    rgba(34, 34, 34, 0) 56%,
    hsla(145, 50%, 40%, 1)
  );
  animation: sweep 5s infinite linear;
}
@keyframes sweep {
  to {
    transform: rotate(360deg);
  }
}

.article3 {
  display: flex;
  justify-content: center;
  color: #d15abd;
  border: 3px solid rgba(173, 68, 133, 0.719);
  background-color: rgba(173, 68, 133, 0.363);
  width: 70%;
  margin-left: 15%;
  margin-top: 20px;
  border-radius: 20px;
  transition: 0.5s ease-out;
}

.article3:hover {
  transform: scale(1.1, 1.1);
  /* flex-grow: 0.2; */
  transition: 0.5s ease-out;
}


footer{
display: flex;
justify-content: space-between;
  border: 3px solid rgb(90, 90, 90);
    margin-top: 20px;
}

.divfooter{
    margin-top: 2rem;
    margin-right: 2rem;
}
.footer {
  margin-top: 20px;
  display: flex;
  justify-content: space-around;
  width: 70%;
margin-left: 15%;
}

footer article {
  color: #707070;
  /* border: 3px solid rgb(90, 90, 90); */
  transition: 0.5s ease;

}

footer article:hover {
  color: green;
  /* border: 3px solid rgb(90, 90, 90); */
  transform: translate(0, -10%);
  transition: 0.5s ease;
}

#colorartical {
  color: #287a33;
}


.color2{
  border: 2px solid rgb(221, 126, 1);
  background-color: rgba(172, 123, 32, 0.514);
}

#color3{
  border: 2px solid rgb(1, 221, 56);
  background-color: rgba(11, 82, 20, 0.514);
  color:  rgb(1, 221, 56);
}

.divfooter{
  border: 3px solid rgb(90, 90, 90);
  height: 20px;
  border-radius: 20px;

}

/* / Desktop / */
@media (max-width: 1440px) {
 
  .grid {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto;
  }
  main {
    width: 100%;
  }
}

/* / Tablet / */
@media (max-width: 1023px) {
  
  .grid {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto;
  }
}

/* / Mobile  */
@media (max-width: 767px) {
  
  .grid {
    grid-template-columns: 1fr;
    grid-template-rows: auto;
  }
}


.img img{
    width: 20px;
}

#aside1{
    width: 160px;
    height: 10px;
    
    background-color:  rgb(0, 247, 12);

}

#aside2{
    width: 100px;
    height: 10px;
    
    background-color:  rgb(0, 247, 12);
}
#aside3{
   width: 50px;
    height: 10px;
    
    background-color:  rgb(0, 247, 12);
}
#aside4{
    width: 180px;
    height: 10px;
    
    background-color:  rgb(0, 247, 12);
}